@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face{
  font-family: anzo1;
  src: url(./assets/file.woff2);
}
@font-face{
  font-family: anzo2;
  src: url(./assets/file2.woff2);
}
@font-face{
  font-family: anzo3;
  src: url(..assets/file3.woff2);
}
@font-face{
  font-family: anzo4;
  src: url(.assets/file4.woff2);
}
@font-face{
  font-family: anzo5;
  src: url(.assets/file5.woff2);
}
@font-face{
  font-family: anzo6;
  src: url(./assets/madefor-text.var.original.woff2);
}
#page1-in{
  position: relative;
  perspective: 1000px;
}
#tiltDiv{
  /*background-color: red;*/
  width: fit-content;

}
html,body{
  height: 100%;
  width: 100%;
  background-color: black;
}
.tyre{
  rotate:360deg;
 animation-duration:2s;
 mask-repeat: repeat;

}